* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: #e6edf3;
    font-family: Arial, sans-serif;
}

.hero {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.hero h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

.hero p {
    color: #8b949e;
    font-size: 20px;
}

.tags {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.tags span {
    padding: 10px 16px;

    border: 1px solid #30363d;
    border-radius: 20px;

    background: #161b22;
}

.about {
    max-width: 900px;
    margin: auto;
    padding: 100px 30px;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
